h1 {
 color: #A70749;  
}

body {
  background-color: #f8d1ee;
  margin: 10% 10%;
 border: 100px solid transparent;
  padding: 15px;
  border-image: url(laceborder.jpg) 100 round;
}

.contact {
  text-align: center;
  color: #BF5A96;
  line-height: .4;
  font-family: Garamond, serif;
}

h2 {
  text-align: center;
  color: #ea94bd;
  font-family: Garamond, serif;
}

.job {
  color: #A70749;
  font-family: Garamond, serif;
}

li {
  color: #D94496;
}

.grid-container {
  display: grid;
  grid-template: 1fr 1fr 1fr/1fr 1fr 1fr;
  color: #D94496;  
}

.grid-item {
  text-align: center;
  margin: 2px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  
}
